USE [nguon_nhan_luc]
GO
/****** Object:  Table [dbo].[cosodaotao]    Script Date: 5/7/2018 9:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cosodaotao](
	[MaTruong] [nvarchar](5) NOT NULL,
	[TenTruong] [nvarchar](70) NOT NULL,
	[DiaChi] [nvarchar](120) NULL,
	[Website] [nvarchar](50) NULL,
	[TinhThanh] [nvarchar](15) NULL,
	[DVChuquan] [nvarchar](60) NULL,
 CONSTRAINT [PK_cosodaotao] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dubaocung]    Script Date: 5/7/2018 9:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dubaocung](
	[MaTruong] [nvarchar](5) NOT NULL,
	[Nam] [int] NOT NULL,
	[DuBaoTuyenSinh] [int] NOT NULL,
	[TiLeDo] [float] NOT NULL,
	[SoLaoDong] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuyenSinh]    Script Date: 5/7/2018 9:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenSinh](
	[MaTruong] [nvarchar](5) NOT NULL,
	[Nam] [int] NOT NULL,
	[ChiTieu] [int] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[cosodaotao] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'ANH', N'Học viện An ninh Nhân dân', N'125 Trần Phú, P. Văn Quán, Hà Đông, Hà Nội', N'hvannd.edu.vn', N'Hà Nội', N'Bộ Công an')
INSERT [dbo].[cosodaotao] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'BKA', N'Đại học Bách khoa Hà Nội', N'Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội', N'https://hust.edu.vn/', N'Hà Nội', N'Bộ Giáo Dục và Đào Tạo')
INSERT [dbo].[cosodaotao] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'BM', N'p', N'p', N'p', N'p', N'chưa rõ')
GO
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu]) VALUES (N'TDL', 2017, 300)
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu]) VALUES (N'TDM', 2017, 250)
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu]) VALUES (N'TDV', 2017, 250)
GO
