USE [DSS]
GO
/****** Object:  Table [dbo].[nganh_nghe]    Script Date: 12/21/2017 04:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nganh_nghe](
	[ma_nganh_nghe] [nvarchar](10) NOT NULL,
	[ten_nganh] [nvarchar](30) NULL,
	[luong_khoi_diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nganh_nghe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nganh_nghe] ([ma_nganh_nghe], [ten_nganh], [luong_khoi_diem]) VALUES (N'E1827', N'Kinh doanh tự do', 13000000)
INSERT [dbo].[nganh_nghe] ([ma_nganh_nghe], [ten_nganh], [luong_khoi_diem]) VALUES (N'E1833', N'Nhân viên bán hàng, tiếp thị', 5500000)
INSERT [dbo].[nganh_nghe] ([ma_nganh_nghe], [ten_nganh], [luong_khoi_diem]) VALUES (N'E1834', N'Nhân viên văn phòng', 7500000)
/****** Object:  Table [dbo].[nganh_dao_tao]    Script Date: 12/21/2017 04:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nganh_dao_tao](
	[ma_nganh_dao_tao] [nvarchar](10) NOT NULL,
	[ten_nganh] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nganh_dao_tao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nganh_dao_tao] ([ma_nganh_dao_tao], [ten_nganh]) VALUES (N'52460101', N'Toán học')
INSERT [dbo].[nganh_dao_tao] ([ma_nganh_dao_tao], [ten_nganh]) VALUES (N'52460115', N'Toán - Cơ')
INSERT [dbo].[nganh_dao_tao] ([ma_nganh_dao_tao], [ten_nganh]) VALUES (N'52480105', N'Toán - Tin ứng dụng')
/****** Object:  Table [dbo].[khoa_hoc]    Script Date: 12/21/2017 04:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa_hoc](
	[ma_khoa_hoc] [nvarchar](10) NOT NULL,
	[nam_vao] [int] NULL,
	[nam_ra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khoa_hoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [nam_vao], [nam_ra]) VALUES (N'QH.2006.T.', 2006, 2010)
INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [nam_vao], [nam_ra]) VALUES (N'QH.2007.T.', 2007, 2011)
INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [nam_vao], [nam_ra]) VALUES (N'QH.2008.T.', 2008, 2012)
/****** Object:  Table [dbo].[co_quan]    Script Date: 12/21/2017 04:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[co_quan](
	[ten_co_quan] [nvarchar](50) NOT NULL,
	[dia_chi] [nvarchar](100) NULL,
	[tinh] [nvarchar](20) NULL,
	[co_quan_quan_li] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ten_co_quan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[co_quan] ([ten_co_quan], [dia_chi], [tinh], [co_quan_quan_li]) VALUES (N'Chi cục thuế Hà Nội', N'187A Giảng Võ, Chợ Dừa, Đống Đa, Hà Nội', N'Hà Nội', N'Tổng cục thuế')
INSERT [dbo].[co_quan] ([ten_co_quan], [dia_chi], [tinh], [co_quan_quan_li]) VALUES (N'Chi cục thuế Tuyên Quang', N'Chiến Thắng Sông Lô, P. Tân Quang, Tuyên Quang', N'Tuyên Quang', N'Tổng cục thuế')
INSERT [dbo].[co_quan] ([ten_co_quan], [dia_chi], [tinh], [co_quan_quan_li]) VALUES (N'chưa rõ', NULL, NULL, N'Bộ giáo dục và đào tạo')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[sinh_vien]    Script Date: 12/21/2017 04:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinh_vien](
	[ma_sinh_vien] [nvarchar](10) NOT NULL,
	[ho_ten] [nvarchar](30) NULL,
	[ngay_sinh] [nvarchar](10) NULL,
	[gioi_tinh] [nvarchar](5) NULL,
	[dan_toc] [nvarchar](10) NULL,
	[que_quan] [nvarchar](15) NULL,
	[ma_khoa_hoc] [nvarchar](10) NULL,
	[hoc_luc] [nvarchar](10) NULL,
	[ma_nganh_dao_tao] [nvarchar](10) NULL,
	[ma_nganh_nghe] [nvarchar](10) NULL,
	[ten_co_quan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_sinh_vien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sinh_vien] ([ma_sinh_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [dan_toc], [que_quan], [ma_khoa_hoc], [hoc_luc], [ma_nganh_dao_tao], [ma_nganh_nghe], [ten_co_quan]) VALUES (N'10000501', N' Trần Thị Bích', N'11/08/1991', N'Nam', N'Kinh', N'Hải Dương', N'QH.2006.T.', N'Khá', N'52480105', N'E2322', N'THPT Quảng Ninh')
INSERT [dbo].[sinh_vien] ([ma_sinh_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [dan_toc], [que_quan], [ma_khoa_hoc], [hoc_luc], [ma_nganh_dao_tao], [ma_nganh_nghe], [ten_co_quan]) VALUES (N'10000504', N' Phạm Ngọc Ánh', N'11/07/1991', N'Nữ', N'Kinh', N'Thái Bình', N'QH.2006.T.', N'Giỏi', N'52480105', N'E2322', N'THPT Quảng Ninh')
INSERT [dbo].[sinh_vien] ([ma_sinh_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [dan_toc], [que_quan], [ma_khoa_hoc], [hoc_luc], [ma_nganh_dao_tao], [ma_nganh_nghe], [ten_co_quan]) VALUES (N'10000509', N' Triệu Thị Thu Hương', N'09/24/1991', N'Nam', N'Kinh', N'Thái Bình', N'QH.2006.T.', N'Khá', N'52480105', N'E2322', N'THPT Hà Nam')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  ForeignKey [FK_sinh_vien_co_quan]    Script Date: 12/21/2017 04:14:49 ******/
ALTER TABLE [dbo].[sinh_vien]  WITH CHECK ADD  CONSTRAINT [FK_sinh_vien_co_quan] FOREIGN KEY([ten_co_quan])
REFERENCES [dbo].[co_quan] ([ten_co_quan])
GO
ALTER TABLE [dbo].[sinh_vien] CHECK CONSTRAINT [FK_sinh_vien_co_quan]
GO
/****** Object:  ForeignKey [FK_sinh_vien_khoa_hoc]    Script Date: 12/21/2017 04:14:49 ******/
ALTER TABLE [dbo].[sinh_vien]  WITH CHECK ADD  CONSTRAINT [FK_sinh_vien_khoa_hoc] FOREIGN KEY([ma_khoa_hoc])
REFERENCES [dbo].[khoa_hoc] ([ma_khoa_hoc])
GO
ALTER TABLE [dbo].[sinh_vien] CHECK CONSTRAINT [FK_sinh_vien_khoa_hoc]
GO
/****** Object:  ForeignKey [FK_sinh_vien_nganh_dao_tao]    Script Date: 12/21/2017 04:14:49 ******/
ALTER TABLE [dbo].[sinh_vien]  WITH CHECK ADD  CONSTRAINT [FK_sinh_vien_nganh_dao_tao] FOREIGN KEY([ma_nganh_dao_tao])
REFERENCES [dbo].[nganh_dao_tao] ([ma_nganh_dao_tao])
GO
ALTER TABLE [dbo].[sinh_vien] CHECK CONSTRAINT [FK_sinh_vien_nganh_dao_tao]
GO
/****** Object:  ForeignKey [FK_sinh_vien_nganh_nghe]    Script Date: 12/21/2017 04:14:49 ******/
ALTER TABLE [dbo].[sinh_vien]  WITH CHECK ADD  CONSTRAINT [FK_sinh_vien_nganh_nghe] FOREIGN KEY([ma_nganh_nghe])
REFERENCES [dbo].[nganh_nghe] ([ma_nganh_nghe])
GO
ALTER TABLE [dbo].[sinh_vien] CHECK CONSTRAINT [FK_sinh_vien_nganh_nghe]
GO
